<h1><%=@creature.name%></h1>
<p>"<%=@creature.description%>"</p>
<%= link_to edit_creature_path do%>
    <div><button>Edit <%=@creature.name%></button></div>
<%end%>
<hr />
<%= link_to creatures_path do%>
    <div><button>Back Home</button></div>
<%end%>